@model ICollection<ApplicationUser>
@{
    ViewBag.Title = "Lista adminow";
}


@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nazwa uzytkownika</th>
                <th scope="col">Odbierz uprawnienia</th>
                <th scope="col">Usun konto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model)
            {
            <tr>
                <td><a asp-action="Index" asp-controller="Account" asp-route-id=@admin.Id style="text-decoration: none; color: black;">@admin.UserName</a></td>
                <td>
                    <form method="post" asp-action="RemoveAdminRole" asp-controller="Admin" asp-route-id="@admin.Id">
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Czy na pewno chcesz odebrac uprawnienia: @admin.UserName')">Odbierz admina</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="DeleteUser" asp-controller="Account" asp-route-id="@admin.Id">
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Czy na pewno chcesz usunac konto: @admin.UserName')">Usun konto</button>
                    </form>
                </td>
            </tr>
            }

        </tbody>
    </table>
}
else 
{ 
    <h1>Brak administratorów</h1>
    <p>Jak sie tu znalazles?</p>
}