@model MemeCardViewModel
@{

}
<div class="card mb-3">
    <div class="card-header" style="font-weight: bold;">
        <div class="row">
            <div class="col-6">
                @if (Model.UserId != null)
                {
                    <a asp-action="TopMemes" asp-controller="Account" asp-route-userId="@Model.UserId" asp-route-memePage="1" style="text-decoration: none; color: black; font-size:13px;">@Model.UserName</a>
                }
                else
                {
                    <p style="font-size:10px;">@Model.UserName</p>
                }
            </div>
            <div class="col-6">
                <p class="text-right" style="font-size:10px;">@Model.CreationDate</p>
            </div>
        </div>
        <div class="row">
            @Model.Title
        </div>
    </div>
    <div class="card-body p-0">
        <a asp-action="SingleMeme" asp-controller="Home" asp-route-id=@Model.Id asp-route-commentPage="1">
            <img class="card-img m-0" src=@Model.ImagePath />
        </a>
    </div>
    <div class="card-footer">
        <div class="row">
            @if ((User.IsInRole("Admin")) || ((User.Identity.Name != null) && (User.Identity.Name == Model.UserName)))
            {
                <form method="post" asp-controller="Home" asp-action="DeleteMeme" asp-route-id=@Model.Id>
                    <button type="submit" class="btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten obrazek?')">Usuń</button>
                </form>
            }
            <p class="ml-auto">
                <a id="memeCardPoints_@Model.Id">@Model.XdPoints</a> ||
                @if (Model.IsXdClicked)
                {
                    <a id="memeCard_@Model.Id" class="removeMemePoint" style="text-decoration: none; color: black; font-weight: bold; cursor: pointer;">xD!</a>
                }
                else
                {
                    <a id="memeCard_@Model.Id" class="awardMemePoint" style="text-decoration: none; color: black; cursor: pointer;">xD</a>
                }
            </p>
        </div>
    </div>
</div>